<div id="<%= dom_id restaurante %>">
  <p>
    <strong>Name:</strong>
    <%= restaurante.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= restaurante.description %>
  </p>

  <p>
    <strong>Delivery tax:</strong>
    <%= restaurante.delivery_tax %>
  </p>

  <p>
    <strong>City:</strong>
    <%= restaurante.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= restaurante.street %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= restaurante.neighborhood %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= restaurante.number %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= restaurante.complement %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurante.category_id %>
  </p>

</div>
