<div id="<%= dom_id order %>">
  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Mobile phone:</strong>
    <%= order.mobile_phone %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= order.total_value %>
  </p>

  <p>
    <strong>City:</strong>
    <%= order.city %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= order.neighborhood %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= order.number %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= order.complement %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Restaurante:</strong>
    <%= order.restaurante_id %>
  </p>

</div>
