<div id="<%= dom_id prato %>">
  <p>
    <strong>Name:</strong>
    <%= prato.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prato.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= prato.price %>
  </p>

  <p>
    <strong>Restaurante:</strong>
    <%= prato.restaurante_id %>
  </p>

</div>
